{% extends 'bootstrap.html' %}
{% load socialaccount %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <h1>{% trans "Password Reset" %}</h1>
        </div>
        <div class="col-12">
            <hr class="hr hr-blurry" />
        </div>
        {% if user.is_authenticated %}
            <div class="row justify-content-center">
                <h1> 
                    {% blocktrans %}You are already logged in as {{ user }}.{% endblocktrans %}
                </h1>
            </div>
        {% else %}
        <div class="Center">
            <div class="row-12 justify-content-center">
                <p>
                    {% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
                </p>
            </div>
        </div>
        {% endif %}
    </div>
    
    
{% endblock %}