{% extends 'bootstrap.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}
{% load widget_tweaks %}

<div class="container">
    <div class="row justify-content-center">
      <h1>
        Create an Account
      </h1>
    </div>
    <div class="col-12">
      <hr class="hr hr-blurry" />
    </div>
    <form id="signup_form" method="post" action="/accounts/signup/">
      {% csrf_token %}
      <div class="form-group row justify-content-center">
        <div class="col-6 float-right">
          <label for="id_username" class="float-right">Username:</label>
        </div>
        <div class="col-6">
          {% render_field form.username class="form-control" %}
        </div>
      </div>
      <div class="form-group row ">
        <div class="col-6">
          <label for="id_email" class="float-right">E-mail:</label>
        </div>
        <div class="col-6">
          {% render_field form.email class="form-control" %}
        </div>
      </div>
      <div class="form-group row ">
        <div class="col-6">
          <label for="id_email2" class="float-right"> Confirm E-mail:</label>
        </div>
        <div class="col-6">
          {% render_field form.email2 class="form-control" %}
        </div>
      </div>
      <div class="form-group row ">
        <div class="col-6">
          <label for="id_password1" class="float-right">Password:</label>
        </div>
        <div class="col-6">
          {% render_field form.password1 class="form-control" %}
        </div>
      </div>
      <div class="form-group row ">
        <div class="col-6">
          <label for="id_password2" class="float-right">Confirm Password:</label>
        </div>
        <div class="col-6">
          {% render_field form.password2 class="form-control" %}       
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <button type="submit" class="btn btn-light">Sign Up »</button>
          <input type="hidden" name="next" value="{{ request.GET.next }}" />
        </div>
      </div>
    </form>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a href="/accounts/login/">Already have an account? Then please sign in</a>
      </div>
    </div>
    <p></p>
    <div class="row justify-content-center">
      <div class="col-auto">
        <p>OR</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a href="{% provider_login_url 'google' %}"><img src={% static "img/btn_google_signin_dark_focus_web.png" %}></a>
      </div>
    </div>
  </div>


{% endblock %}