[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-crispy-forms = "*"
djangorestframework = "*"
django-extensions = "*"
django-allauth = "*"
djoser = "*"
django-filter = "*"
django-rest-authtoken = "*"
djangorestframework-xml = "*"
mysqlclient = "*"
mysql-connector-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
