{% extends "bootstrap.html" %}
{% block content %}
<div class="Center">
    <div class="container">
        <div class="row justify-content-center">
            <h1>Account Managment</h1>
        </div>
        <div class="col-12">
            <hr class="hr hr-blurry" />
        </div>
        {% if user.password %}
        <div class="row justify-content-center">
            <a href="/accounts/password/change/">Change Password</a>
        </div>
        {% else %}
        <div class="row justify-content-center">
            <a href="'/accounts/password/set/">Set Password</a>
        </div>
        {% endif %}
        <div class="row justify-content-center">
            <a href="/accounts/email/">Email Managment</a>
        </div>
        
    </div>
</div>
{% endblock %}