{% extends 'bootstrap.html' %}
{% load app_tags %}
{% block content %}

  <div class="container">
    {% if user.is_authenticated %}
      <div class="row justify-content-center">
        {% if  user_profile.socialaccount_set.all.0.get_avatar_url  %}
          <img  id='grav_profile' src="{{ user_profile.socialaccount_set.all.0.get_avatar_url }}"/>
        {% else%}
          <img id='grav_profile' src="{{ user_profile|gravatar:60 }}"/>
        {% endif %}
      </div>
      <div class="row justify-content-center">
        <h1>
          {{ profile.user}}
        </h1>
      </div>
      <div class="row justify-content-center">
        <h2>
          Largest Bacon number found: {{ profile.longest }}
        </h2>
      </div>
      {% if favs %}
        <div class="row justify-content-center">
          <h3>
            Favorite Routes
          </h3>
        </div>
        <div class="row justify-content-center">
          {% for fav in favs %}
          <div class="col-auto">
            <a href='/routes/result/{{ fav.1 }}'>{{fav.0}}</a>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="row justify-content-center">
          <h3>
            No favorites yet! go search a <a href='/'>route</a> to get started!
          </h3>
        </div>
      {% endif %}
    {% endif %}

  </div>
    

  

  


{% endblock %}