{% extends 'bootstrap.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1>
                    Most Favorited Routes
                </h1>
            </div>
        </div>
        <div class="row justify-content-center">
        {% for person in person_list %}
            <div class=" col-lg-3 col-sm-4 col-6">
                <h3>
                    {{person.3}}
                    <a  href='/routes/result/{{ person.2 }}'>{{ person.0 }}</a>
                </h3>
                {% if  person.1  == None %}
                    <img class='img-fluid' src='{% static "img/person_placeholder.png" %}' alt="Placeholder image">
                {% else %}
                    <img class='img-fluid' src="https://image.tmdb.org/t/p/w500{{ person.1 }}" alt="{{ person.0 }}">
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

